* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}

a {
    cursor: pointer;
}

input {
    cursor: auto;
}

.vh-100 {
    background-image: linear-gradient(to top, #ffa54b, #a75300);
}

.signup .container {
    background-color: #FFFFFF;
    border: 2px solid #F1F1F1;
    box-shadow: 0 0 5px 8px #00000075;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.signup .container .row .col-md-6:first-child .blob {
    height: 100px;
    width: 100px;
    opacity: 75%;
}

.signup .container .row .col-md-6:last-child img {
    height: 100%;
}

/* Content */
.signup .container .row .col-md-6:first-child .z-2 {
    padding: 46px 88px 46px;
}

.signup .container .row .col-md-6:first-child .z-2 h1, span {
    font-size: 35px;
    font-family: serif;
}

.signup .container .row .col-md-6:first-child .z-2 h1 img {
    margin-bottom: 10px;
}

.signup .container .row .col-md-6:first-child .z-2 h1 span {
    color: #F37A00;
}

.signup .container .row .col-md-6:first-child .z-2 .mb-1 .form-group:first-child {
    margin-right: 18px;
}

.signup .container .row .col-md-6:first-child label {
    font-size: 15px;
}

.signup .container .row .col-md-6:first-child input:hover {
    border-color: #000000;
}

.signup .container .row .col-md-6:first-child input:focus {
    box-shadow: 0 0 5px 1px #F37A00;
    border-color: #000000;
}

.signup .container .row .col-md-6:first-child .custom-orange {
    background-color: #F37A00;
    width: 100%;
}

.signup .container .row .col-md-6:first-child .custom-orange:hover {
    background-color: #FFA54B;
}

.signup .container .row .col-md-6:first-child .back-btn {
    width: 100%;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
}

.signup .container .row .col-md-6:first-child .back-btn:hover {
    background-color: #00000080;
    border-color: transparent;
    color: #FFFFFF;
}

.input {
    position: relative;
}

.input i {
    background-color: #FFFFFF;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-control {
    padding-right: 20px;
}

/* Content */

@media (max-width: 1024px) {
    .signup .container .row .col-md-6:first-child .z-2 h1, span {
        font-size: 32px;
    }
    
    .signup .container .row .col-md-6:first-child .z-2 h1 img {
        width: 35px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .signup .container {
        width: auto;
    }

    .signup .container .row .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .signup .container .row .col-md-6:last-child img {
        display: none;
    }
    
    .signup .container .row .col-md-6:first-child {
        background-image: none;
    }

    .signup .container .row .col-md-6:first-child .blob {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 425px) {
    .signup .container .row .col-md-6:first-child .z-2 {
        padding: 46px 75px 46px;
    }

    .signup .container .row .col-md-6:first-child .blob {
        height: 90px;
        width: 90px;
    }

    .signup .container .row .col-md-6:first-child .z-2 h1, span {
        font-size: 30px;
    }
    
    .signup .container .row .col-md-6:first-child .z-2 h1 img {
        width: 35px;
        height: 30px;
    }
}

@media (max-width: 375px) {
    .signup .container .row .col-md-6:first-child .z-2 {
        padding: 50px 40px 50px;
    }
}

@media (max-width: 320px) {
    .signup .container .row .col-md-6:first-child .z-2 {
        padding: 75px 35px 75px;
    }

    .signup .container .row .col-md-6:first-child .blob {
        height: 100px;
        width: 100px;
    }

    .signup .container .row .col-md-6:first-child .z-2 h1, span {
        font-size: 25px;
    }
    
    .signup .container .row .col-md-6:first-child .z-2 h1 img {
        width: 30px;
        height: 25px;
    }
}
