body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 36px;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    transition: all 0.3s ease;
    border-bottom: 20px solid #F37E00;
}

.navbar .container .navbar-toggler svg {
    color: #000000;
    width: 30px;
    height: 30px;
}

.navbar .container .navbar-toggler {
    color: #F37E00;
}

.logo {
    height: 50px;
    width: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #000000;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navigation a:hover {
    border-bottom: 2px solid #F37E00;
    color: #F37E00;
}

#logout {
    background-color: #FFFFFF;
    border: 2px solid #F37E00;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout img {
    height: 30px;
    width: 30px;
}

.navbar {
    border-bottom: 20px solid #F37E00;
    width: 100%;
    margin-bottom: 13px;
}

.navbar .navbar-collapse .navbar-nav .nav-item:last-child {
    display: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    color: #E3791B;
    border-bottom: 3px solid #E3791B;
}

/* HEADER */

/* BODY HEADER */
.hero {
    background-image: linear-gradient( rgba(44, 44, 44, 0.5), rgba(44, 44, 44, 0.5) ), url(section1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 78px 0 161px;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 39.26px;
}

.hero .container .text{
    flex-direction: column;
    display: flex;
}

.hero img {
    width: 177.74px;
    height: 157px;
}

.hero h1 {
    font-size: 128px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 10px;
}
/* BODY HEADER */

/* BODY PRODUCTS */
.product {
    position: relative;
    width: 100%;
    padding: 51px 0 186px;
    border-top: 20px solid #ED7B00;
    margin-top: 11px;
}

.product::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(section2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    z-index: -1;
}

.product .container h2 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}

.product .container {
    max-width: 1167px;
}

.product .row.align-items-center {
    border: 1px solid #ECECEC;
    padding: 20px;
    box-shadow: 0 4px 4px 0 #00000040;
}

.product .row.align-items-center:hover {
    border: 1px solid #000000;
    box-shadow: 0 4px 4px 0 #ED7B00;
}

.product .row.align-items-center .col {
    flex: 0 0 auto;
}

.product .row.align-items-center.student-promo {
    margin-bottom: 46px;
}

.product .row.align-items-center.student-promo .col:first-child {
    width: 48.43%;
}

.product .row.align-items-center.student-promo .col:last-child {
    width: 51.57%;
    padding-left: 46px;
}

.product .row.align-items-center.hot-promo {
    margin-bottom: 58px;
}

.product .row.align-items-center.hot-promo .col:first-child {
    width: 56.63%;
}

.product .row.align-items-center.hot-promo .col:last-child {
    width: 43.37%;
}

.product .row.align-items-center h3 {
    color: #ED7B00;
    font-size: 38px;
    padding: 11px 18px;
    background-color: #000000;
}

.product .row.align-items-center h4 {
    font-size: 36px;
}

.product .row.align-items-center.student-promo h3 {
    max-width: 426px;
}

.product .row.align-items-center p {
    font-size: 24px;
}

.product .row.foods .col-12 {
    gap: 24px 8.7%;
}
.product .row.soups .col-12 {
    gap: 24px 8.7%;
}

.product .row.drinks .col-12 {
    gap: 24px 8.7%;
}

.product .row .menu {
    width: 27.53%;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 #00000040;
    background-color: #ffffff;
}
.product .row .menu:hover {
    border: 1px solid #000000;
    box-shadow: 0 4px 4px 0 #ED7B00;
}

.product .row .menu img {
    border-radius: 20px 0 0 20px;
    width: 120px;
}

.product .row .menu div {
    padding: 10px;
}

.product .row .menu h3 {
    font-size: 16px;
    font-family: serif;
    font-weight: bold;
}

.product .row .menu p {
    font-size: 10px;
}

.product .row .menu span {
    font-size: 12px;
    font-weight: bold;
}
/* BODY PRODUCTS */

/* FOOTER */
.footer {
    background-color: #282828;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 17px;
    margin: 26.56px;
    background-color: #F37A00;
    border-radius: 100%;
}

.socialIcons a i {
    font-size: 35.41px;
    color: #000000;
}

/* HOVER EFFECTS */
.socialIcons a:hover {
    background-color: #282828;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #F37A00;
    transition: 0.5s;
}
/* HOVER EFFECTS */

.footerNav {
    margin: 44px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.footerNav ul li a {
    color: #FFFFFF;
    margin: 14px;
    text-decoration: none;
    font-size: 24px;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #F37A00;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottom img {
    align-content: center;
    width: 14px;
    height: 14px;
    margin-right: 2.84px;
}

.footerBottom p {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
/* FOOTER */

@media (max-width: 991px) {
    .navbar .navbar-collapse .navbar-nav {
        background-color: grey;
    }

    .navbar .nav-item .nav-link {
        padding: 10px 20px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item a {
        color: white;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
        display: block;
    }

    .navbar .nav-item:not(.navbar-collapse .nav-item) {
        display: none;
    }

    /* BODY */
    .hero img {
        width: 120px;
        height: 120px;
    }
    
    .hero h1 {
        font-size: 80px;
        font-weight: bold;
        color: #FFFFFF;
        margin: 0;
    }
    
    .hero p {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .product .row .menu {
        width: 45.65%;
    }

    /* FOOTER */
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        text-align: center;
        margin: 10px;
    }
}

@media (max-width:768px) {
    /* BODY */
    .hero img {
        width: 100px;
        height: 100px;
    }
    
    .hero h1 {
        font-size: 65px;
        font-weight: bold;
        color: #FFFFFF;
        margin: 0;
    }
    
    .hero p {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        margin-left: 4px;
    }

    .product .row.align-items-center.student-promo .col:first-child,
    .product .row.align-items-center.student-promo .col:last-child,
    .product .row.align-items-center.hot-promo .col:first-child,
    .product .row.align-items-center.hot-promo .col:last-child {
        width: 100%;
    }

    .product .row.align-items-center.student-promo h3 {
        max-width: 100%;
    }

    .product .row .menu {
        width: 100%;
    }

    /* FOOTER */
    .socialIcons {
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    .socialIcons a {
        padding: 12px;
        margin: 20.56px;
    }

    .socialIcons a i {
        font-size: 25.41px;
    }

    .footerNav ul li a {
        font-size: 18px;
    }
    
    .footerBottom img {
        width: 10px;
        height: 10px;
    }
    
    .footerBottom p {
        color: #000000;
        font-size: 15px;
    }
}

@media (max-width: 499px) {
    .socialIcons a {
        padding: 8px 10px 8px;
        margin: 15px;
    }

    .socialIcons a i {
        font-size: 16px;
    }
}

@media (max-width:470px) {
    /* BODY */
    .hero img {
        width: 80px;
        height: 80px;
    }
    
    .hero h1 {
        font-size: 50px;
        font-weight: bold;
        color: #FFFFFF;
        margin: 0;
    }
    
    .hero p {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
        margin-left: 2px;
    }

}
