body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: context-menu;
}

a {
    cursor: pointer;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    transition: all 0.3s ease;
    border-bottom: 20px solid #F37E00;
}

.navbar .container .navbar-toggler svg {
    color: #000000;
    width: 30px;
    height: 30px;
}

.navbar .container .navbar-toggler {
    color: #F37E00;
}

.logo {
    height: 50px;
    width: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #000000;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navigation a:hover {
    border-bottom: 2px solid #F37E00;
    color: #F37E00;
}

#logout {
    background-color: #FFFFFF;
    border: 2px solid #F37E00;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout img {
    height: 30px;
    width: 30px;
}

.navbar {
    border-bottom: 20px solid #F37E00;
    width: 100%;
    margin-bottom: 13px;
}

.navbar .navbar-collapse .navbar-nav .nav-item:last-child {
    display: none;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    color: #E3791B;
    border-bottom: 3px solid #E3791B;
}
/* HEADER */

/* BODY SEARCH BAR */
.container .input-group {
    height: 60px;
}

.container .input-group .form-control, .custom-orange {
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.container .input-group .form-control:focus {
    border-color: #E3791B;
}

.container .input-group input {
    width: 650px;
    border-radius: 100px;
    border-color: #E3791B;
}

.container .custom-orange {
    background-color: #E3791B;
    border: 1px solid #000000;
    border-radius: 0 100px 100px 0;
}

.container .input-group .form-control .btn {
    border-radius: 0;
    height: 38px;
    line-height: 38px;
}

.container .custom-orange:hover {
    background-color: #FFBF7F;
    border-color: #000000;
}

.container .custom-orange i {
    font-size: 16px;
}

/* BODY HEADER */
.container .news img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
}

.container .news h1 {
    font-size: 36px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.container .news-img {
    background-image: url(blog1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: left;
    min-height: 507px;
    width: 100%;
    display: flex;
    align-items: end;
}

.container .news-img .text-overlay h3 {
    font-size: 40px;
    font-weight: bold;
    background-color: #00000060;
    padding: 28px 27px;
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
}

.container .news-img .text-overlay h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container .news-text p {
    font-size: 32px;
    font-weight: bold;
    font-family: serif;
}

/* BODY REVIEW */
.reviews .container{
    border: 2px solid #000000;
    padding: 21.62px 40.85px 31.07px;
    gap: 13px 3.56%;
}

.reviews .container .row:first-child img {
    width: 39.53px;
    height: 33.78px;
    margin-right: 8.61px;
}

.reviews .container .row:first-child h4 {
    font-size: 24px;
    font-family: serif;
    font-weight: bold;
}

.reviews .container .review:last-child {
    gap: 13px 3.56%;
}

.reviews .container .row.align-items-center .col {
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
    border-radius: 10px;
    width: 382.63px;
    padding: 20px 28px 20px;
    flex: 0 0 auto;
}

.reviews .container .row.align-items-center .col:hover {
    box-shadow: 0 4px 4px 0 #000000;
}

.reviews .container .row.align-items-center .col img {
    width: 50px;
    margin-right: 13px;
}

.reviews .container .row.align-items-center .col a {
    text-decoration: none;
}

.reviews .container .row.align-items-center .col a h5 {
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    color: #000000;
}

.reviews .container .row.align-items-center .col p {
    font-size: 24px;
    font-family: serif;
    margin-top: 19px;
}
/* BODY REVIEW */

/* BODY FOOTER */
.article .container .row.align-items-center:first-child {
    border-top: 2px solid #000000;
    margin-top: 60px;
    padding-top: 35px;
}

.article .container .row.align-items-center .col {
    flex: 0 0 auto;
}

.article .container .row.align-items-center .col:first-child {
    width: 38.18%;
}

.article .container .row.align-items-center .col:last-child {
    width: 61.82%;
}

.article .container .row.align-items-center .col:first-child img {
    width: 100%;
}

.article .container .row.align-items-center .col h3 {
    font-size: 45px;
    font-family: serif;
    margin-top: 10px;
}

.article .container .row.align-items-center .col:last-child img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.article .container .row.align-items-center .col:last-child h5 {
    font-size: 20px;
    padding-top: 5px;
}

.article .container .row.align-items-center .col:last-child h5 a {
    color: #000000;
    text-decoration: none;
}

.article .container .row.align-items-center .col:last-child h6 {
    font-size: 11px;
}

.article .container .row.align-items-center .col:last-child p {
    font-size: 20px;
    text-align: justify;
}

.article .container .row.align-items-center:last-child p {
    font-size: 20px;
    text-align: justify;
}

.article .container .row.align-items-center:last-child .first {
    margin-top: 34px;
}

.article .container .row.align-items-center:last-child .last {
    margin-bottom: 66px;
}

/* BODY FOOTER */

/* BODY */

/* FOOTER */
.footer {
    background-color: #282828;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 17px;
    margin: 26.56px;
    background-color: #F37A00;
    border-radius: 100%;
}

.socialIcons a i {
    font-size: 35.41px;
    color: #000000;
}

/* HOVER EFFECTS */
.socialIcons a:hover {
    background-color: #282828;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #F37A00;
    transition: 0.5s;
}
/* HOVER EFFECTS */

.footerNav {
    margin: 44px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.footerNav ul li a {
    color: #FFFFFF;
    margin: 14px;
    text-decoration: none;
    font-size: 24px;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #F37A00;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottom img {
    align-content: center;
    width: 14px;
    height: 14px;
    margin-right: 2.84px;
}

.footerBottom p {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
/* FOOTER */

@media (max-width: 1399px) {
    .article .container .row.align-items-center .col h3 {
        font-size: 40px;
        margin-top: 5px;
    }

    .container .news-text p {
        font-size: 30px;
    }
}

@media (max-width: 1199px) {
    /* SEARCH BAR */
    .container .input-group input {
        width: 600px;
    }
    /*  */

    .container .news-text p {
        font-size: 25px;
    }

    .article .container .row.align-items-center .col h3 {
        font-size: 33px;
    }

    .article .container .row.align-items-center .col:last-child h5 {
        font-size: 15px;
        padding-top: 0;
    }

    .article .container .row.align-items-center .col:last-child h6 {
        font-size: 10px;
    }

    .article .container .row.align-items-center .col:last-child img {
        width: 40px;
        height: 40px;
    }

    .article .container .row.align-items-center .col:last-child p {
        font-size: 15px;
    }
    
    .article .container .row.align-items-center:last-child p {
        font-size: 15px;
    }

    .article .container .row.align-items-center:last-child .first {
        margin-top: 18px;
    }
}

@media (max-width: 991px) {
    /* HEADER */
    .navbar .navbar-collapse .navbar-nav {
        background-color: grey;
    }

    .navbar .nav-item .nav-link {
        padding: 10px 20px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item a {
        color: white;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
        display: block;
    }

    .navbar .nav-item:not(.navbar-collapse .nav-item) {
        display: none;
    }
    /* HEADER */

    /* SEARCH BAR */
    .container .input-group input {
        width: 550px;
    }
    /*  */

    /* BODY */
    .container .news-text p {
        font-size: 20px;
    }

    .reviews .container .row.align-items-center .col{
        width: 100%;
    }

    .article .container .row.align-items-center .col:first-child {
        width: 100%;
    }
    
    .article .container .row.align-items-center .col:last-child {
        width: 100%;
    }

    .article .container .row.align-items-center:last-child .first {
        margin-top: 0;
    }

    .article .container .row.align-items-center:last-child .last {
        margin-bottom: 30px;
    }
    /* BODY */

    /* FOOTER */
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        text-align: center;
        margin: 10px;
    }
    /* FOOTER */
}

@media (max-width:768px) {
    /* SEARCH BAR */
    .container .input-group input {
        width: 450px;
    }
    /*  */

    .container .news img {
        width: 35px;
        height: 35px;
    }
    
    .container .news h1 {
        font-size: 30px;
    }

    .container .news-img .text-overlay h3{
        font-size: 30px;
    }

    .container .news-img {
        min-height: 500px;
    }

    /* FOOTER */
    .socialIcons {
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    .socialIcons a {
        padding: 12px;
        margin: 20.56px;
    }

    .socialIcons a i {
        font-size: 25.41px;
    }

    .footerNav ul li a {
        font-size: 18px;
    }
    
    .footerBottom img {
        width: 10px;
        height: 10px;
    }
    
    .footerBottom p {
        color: #000000;
        font-size: 15px;
    }
}

@media (max-width:515px) {
    /* SEARCH BAR */
    .container .input-group input {
        width: 300px;
    }
    /*  */

    .article .container .row.align-items-center .col h3 {
        font-size: 30px;
    }
}

@media (max-width: 499px) {
    .socialIcons a {
        padding: 8px 10px 8px;
        margin: 15px;
    }

    .socialIcons a i {
        font-size: 16px;
    }
}

@media (max-width:375px) {
    /* SEARCH BAR */
    .container .input-group input {
        width: 250px;
    }
    /*  */

    .container .news img {
        width: 30px;
        height: 30px;
    }
    
    .container .news h1 {
        font-size: 25px;
    }

    .container .news-img .text-overlay h3{
        font-size: 20px;
    }

    .container .news-img {
        min-height: 280px;
    }
}
